* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(img1/background.jpg) no-repeat;
    background-size: cover;

    font-family: "Inconsolata", monospace;
    color: #cccccc;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px, 10px;
}

.wrapper {
    max-width: 800px;
    height: 65%;
    width: 100%;

    background-color: rgba(15, 15, 15, 0.3);
    backdrop-filter: blur(5px);

    padding: 0px 120px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h1{
    margin: 0px 0px 70px 0px;
    display: none;
}

.interface{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

h2 {
    margin-bottom: 14px;

    font-size: 28px;
}

.u{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.c{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sc{
    padding: 10px 30px;
    background-color: #8f9275;
    border-radius: 20px;

    margin-bottom: 30px;
}

.val{
    padding: 20px 27px;
    
    background-color: #607c56;
    border-radius: 50px;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#try-again{
    background-color: #8f9275;
    display: none;
}

#try-again:hover{
    background-color: #6c6e59;
}

button {
    width: 100%;
    height: auto;
    padding: 15px 10px;
    margin-top: 10px;

    background-color: #607c56;

    border: none;
    border-radius: 14px;

    font-family: "Inconsolata", monospace;
    color: #cccccc;
    font-size: 23px;
    font-weight: 500;

    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #485743;
    transform: scale(1.03);
}


@media (max-width: 840px) {
    .wrapper{
        width: 90%;
        padding: 7%;
    }

    #try-again{
        height: auto;
    }

    h2{
        font-size: 24px;
    }
}